nav ul {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li{
    list-style-type: none;
    font-size : 1.35em;
}

nav ul li a:hover {
    font-weight: bold;
    color:red;
}